.bottom-trim-sheet {
  --height: calc(var(--page-height) - 2 * var(--print-margin));
  min-height: var(--height);
  max-height: var(--height);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: #b85b21;
}

.bottom-trim-sheet .sheet-content {
  padding: 10mm;
  gap: 5mm;
}

.spacer {
  flex: 1 0 0px;
}

.info-ccc-logo {
  position: absolute;
  left: 3mm;
  margin-left: 3mm;
  /* top: -50%; */
  height: 9mm;
}

.info-author-credit {
  font-family:
    Goudy Old Style,
    Goudy Oldstyle,
    Goudy,
    Georgia,
    serif;
  font-size: 9.1pt;
  color: #b85b21;
  opacity: 0.6;
  text-align: right;
  padding-bottom: 3mm;
  padding-right: 3mm;
  position: absolute;
  right: 0;
  /* top: -50%; */
}

.info-author-credit p {
  font-size: 7.1pt;
  margin: 0;
}

.info-footer-container {
  position: relative;
}

.info-footer-background {
  /* background-image: url(/images/sidebar-desaturated-small.jpg); */
  background-size: 105mm;
  width: 100%;
  height: 18mm;
}

.info-footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18mm;
  /* background-color: rgba(0, 0, 0, 0.2); */
  mix-blend-mode: multiply;
}
